/*** Exercise 1: Twitter CSS ***/

/*
#### You should not have to change the given property values. ###
*/

/*** Completed body style below ***/
body {
    /* background-color: #e6ecf0; */
	margin: 0;
	font-family: "brandon grotesque", brandon;
	background-size: 100%;
}

/*** Removes default style from links ***/
a {
 	text-decoration: none;
}

/***********************************************
********** Add to the selectors below **********
************************************************/

/* You only need to add where it says "Add properties below" */


/*** Header and banner styles below ***/
.header {
	background-color: white;
	width: 100%;
	height: 55px;
}

.header ul {
	margin: 0px;
	padding: 2px;
	
	/* Add properties below */
    float: right;
    background-color: white;
}

.header ul li {
	margin-right: 20px;
	font-weight: bold;
	list-style: none; /* Gets rid of list bullet points */
	text-align: center;
	
	/* Add a proper display property: We want the stats to have 
	a height, but also appear side-by-side */
    display: inline-block;
    background-color: white;
}

.contactLogo {
	/* Add properties below */
    margin-left: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
	width: 30px;
}

.imgbox {
	position: relative;
}

/* Top right text */
.top-right {
  	position: absolute;
    top: 300px;
    right: 365px;
    font-size: 150%;
}

/* Top right text */
.top-right {
  position: relative;
  top: 50px;
  text-align: center;
  font-size: 150%;
}

.name {
	position: absolute;
	top: 290px;
	right: 275px;
	font-weight: bold;
	font-size: 300%;
}

/*** Profile info box styles below ***/

#profileInfo {
	padding: 10px;
	
	/* Add properties below */
	margin-top: 30px;
	margin-left: 400px;
	min-height: 300px;
	width: 500px;
	float: left;
}


/** Some font color classes for you to use. **/
.grey{
    color: grey;
}

.title{
	position: relative;
	color: white;
	margin-top: 20px;
	font-size: 200%;
	font-family: "brandon grotesque", brandon;
	font-style: normal;
	font-weight: 100;
}

.logo{
    margin-left: 40px;
	width: 150px;
	height: 50px;
}

.tf-logo{
    margin-left: 10px;
	width: 50px;
	height: 50px;
}

.mila-logo{
    margin-left: 10px;
	width: 100px;
	height: 45px;
}

.company-title {
	font-size: 25px;
	/* color: #3377CC; */
	color: white;
	margin-bottom: 5px;
}

/* Create two unequal columns that floats next to each other */
.column {
	float: left;
	padding: 10px;
  }
  
.left {
	width: 50%;
	color: white;
}

.right {
	font-size: 17px;
	font-family: roboto;
	color:white;
	width: 50%;
	margin-bottom: 20px;
}

.experience-picture {
	position: relative;
	margin-top: 10px;
	margin-bottom: 10px;
	max-width: 300px;
	max-height: 300px;
}
